/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.php
.env.*.php
/bootstrap/compiled.php
/build/logs
/build/coverage
/app/tests_log
.DS_Store
/*.iws
/*.iml
*.sublime-workspace
*.sublime_project
logs
*.log
_ide_*
/config/ide-helper.php
.phpstorm.meta.php
/storage/debugbar
/public/storage
/public/gtimg/.svn