body{background:#EFF1F3;font-family:\5FAE\8F6F\96C5\9ED1;}
ul,li{margin:0;padding:0;list-style:none;}
img{max-width: 100%}


.header_nav:after,.clearfix:after{content:'\20';display:block;height:0;clear:both;}
.header_nav,.clearfix{*zoom:1;}

.header_wp,.header_wp .col-md-7{background:#000000;color:#8D8D8D; }

.logo{width:159px;height:32px;background:url('../img/logo.png') no-repeat;background-size: 100%;line-height: 300;overflow:hidden;margin:32px auto;}
.logo a{width:100%;height:100%}
.header_nav{margin:0;}
.header_nav li{float:left;list-style:none;width:104px;font-family:\5FAE\8F6F\96C5\9ED1;font-size:20px;line-height: 96px;text-align:center;overflow:hidden;   }
.header_nav li,.header_nav li a{color:#8D8D8D;text-decoration:none;  }
.header_nav li a{display:block;height:100%;}
.header_nav li a:hover{background:#0F0F0F; }
.header_nav li.current a,.header_nav li.current a:hover{background:#0F0F0F;color:#fff; }
.header_nav li.current a,.header_nav li.current:hover a{color:#F5F5F5; }

.header_nav li a,.header_nav li a:hover{-moz-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;  }

.header_search_box{width:180px;height:30px;background:#fff;margin:33px auto;position:relative;float:right;  }
.header_search_box .header_search_input{border:0 none;outline:0 none;padding:0 34px 0 10px;margin:5px 0;color:#808080;font-family:\5FAE\8F6F\96C5\9ED1;font-size: 14px;width:134px;height:20px;line-height: 20px;}
.header_search_submit{width:18px;height:16px;background:url('../img/header.png') no-repeat -168px 0;line-height: 300px;overflow:hidden;position:absolute;right:10px;top:5px;cursor:pointer;}

.menu-more{display: none;}

.subway_wp{background:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.2);font-size:16px}
.subway_nav {line-height:58px}
.subway_nav li{float:left;padding:0 30px;position:relative; zoom:1; }
.subway_nav li:nth-child(1){margin-left:-30px;}
.subway_nav .cor{width:1px;height:12px;background:#D8D8D8;font-size:0px;position:absolute;right:0;top:50%;margin-top:-6px;}
.subway_wp li,.subway_wp li a{color:#666666;text-decoration:none;  }
.subway_wp li.current a,.subway_wp li a:hover{color:#FF541A; }

.contribution{float:right;color:#333333;padding-left:22px;position:relative;zoom:1;height:20px;line-height:20px;color:#333;margin:19px 0; }
.contribution:hover{color:#FF541A; }
.contribution_ico{width:14px;height:14px;background:url('../img/header.png') no-repeat -196px -1px;position:absolute;left:0;top:50%;margin-top:-7px;}

.banner{max-height:235px; background: url('../img/banner.jpg') center top no-repeat;width: 100%;margin-bottom: 50px;padding:17px 0 18px;position: relative;}
.banner .container{position: relative;z-index:9}
.banner h3{font-size: 32px;font-weight: bold;color: #fff;}
.banner p{font-size: 18px;line-height: 26px;color: #c5c5c5;}


    /*文章列表*/
.list-col{margin:20px auto ;}
.list-col .row,.main-list .mai-list-item{background:#FFFFFF;padding:16px 0;box-shadow:0px 1px 1px rgba(0,0,0,0.2);margin-bottom:20px}
.list-col .col-md-4{text-align:right;}

.list-col img:hover{border-radius:5px;}
.list-col .row:hover{box-shadow:0px 1px 1px rgba(0,0,0,0.1);}
.list-col img,.list-col img:hover{-moz-transition:all .1s ease-in;-webkit-transition:all .1s ease-in;  }

.ac-info,.ac-info a{color:#999999; }
.ac-info span{padding-right:12px}
.ac-detail,.ac-detail a{color:#666666; }
.ac-detail{padding:18px 0 12px;font-size:14px;line-height: 1.4}
.ac-title{font-size:24px}
.ac-title,.ac-title a{color:#000000; }
.page_container{padding:0;}

/*底部*/
.footer{background:#000000;padding:20px 0; }
.footer ,.footer a{color:#747474;  }
.footer a:hover{color:#FF541A; }
.copy{line-height:21px;height:21px}
.tgideas{background:url('../img/comm.png') no-repeat;display:inline-block;width:91px;height:21px;background-position:-29px 0;text-indent:-999em;margin:0 5px;vertical-align:top;}
/*tag*/
.ac-list-tag{color:#fff !important;font-size:12px;display:inline-block;background:#FF9B2F;height:16px;line-height:16px;padding: 0 8px;vertical-align:middle;margin-left:5px }
.ac-list-tag:hover{text-decoration:none;opacity: .7 ; filter:alpha(opacity=70);transform:translateY(-3px);border-radius:2px;  }
.tag-bg-green{background:#17E0B8}
.tag-bg-org{background:#FF9B2F}
.tag-bg-blue{background:#1ACCFF}

.ac-list-tag,.ac-list-tag:hover{-moz-transition:all .3s ease-in;-webkit-transition:all .3s ease-in;  }

.main{margin-bottom: 50px}
/*main-list*/
.side{background:#FFFFFF;box-shadow:0px 1px 1px rgba(0,0,0,0.2);}
.side-tt{line-height: 48px;border-bottom: 1px solid #626262;position: relative;}
.side-tt h3{font-size: 24px;}
.side-tt .more-btn{font-size: 16px;position: absolute;bottom: 0;right: 0;color: #17e0b8}

.side-list{margin-top: 20px}
.side-list li{margin-bottom: 20px}
.side-list li h4 a{font-size: 20px;color: #000}
.side-list li p{font-size: 16px;color: #b1b1b1;}

/*分页*/
body .page_container a{width:40px;height:40px;line-height:40px !important;padding:0;text-align:center; border:0 none !important;margin-right:5px;color:#A1A1A1;border-radius:0 !important; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background:#2CFFC6;color:#fff;border:0 none;width:40px;height:40px;text-align:center; line-height: 40px; }
.pagination>li>a, .pagination>li>span{padding-top:0;margin-right: 5px}
.pagination>li:last-child>a ,.pagination>li:first-child>a{position:relative; zoom:1; }
.pagination>li:last-child span,.pagination>li:first-child span{display:none; }
.pagination>li:last-child>a:before,.pagination>li:last-child>span:before,.pagination>li:last-child>a:after,.pagination>li:last-child>span:after,.pagination>li:first-child>a:before,.pagination>li:first-child>span:before,.pagination>li:first-child>a:after,.pagination>li:first-child>span:after{content:'\20';display:block;position:absolute;width:20px;height:20px;}
.pagination>li:last-child>a,.pagination>li:first-child>a{line-height: 300 !important;overflow:hidden; }
.pagination>li:last-child>a:after,.pagination>li:first-child>a:after{width:8px;height:14px;background:#000;left:50%;top:50%;margin:-7px 0 0 -4px;background:url('../img/comm.png ') no-repeat;line-height: 300;overflow:hidden; }
.pagination>li:last-child>a:after{background-position:-11px 0;}

.pagination>li>a:focus, .pagination>li>a:hover{-moz-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;  }


/*tag*/
.tag{padding: 0}
.tag-list{margin-top: 24px}
.tag-list li .list-con{background:#FFFFFF;padding:16px 0;box-shadow:0px 1px 1px rgba(0,0,0,0.2);margin-bottom:12px}
.tag-list .list-con h3{margin-top: 0;margin-bottom: 30px}
.tag-list .list-con h3 a{font-size: 28px;color: #000000;}
.tag-list .tag-pic{display: block;}

/*detail*/
.break-nav{padding: 15px 0;background-color: #fff;height:58px;line-height: 28px;box-shadow:0px 1px 1px rgba(0,0,0,0.2);}
.break-nav .nav-link{font-size: 14px;float: left;white-space: nowrap;width: 80%;overflow: hidden;}
.break-nav .nav-link a{color: #7a7a7a}
.break-nav .nav-link a:hover,.comment-btn:hover{color: #ff541a;text-decoration: none;}
.break-nav .nav-link em{color:#d8d8d8;margin: 0 6px}
.break-nav .nav-link span{color:#000}
.break-nav .contribution{margin: 0;height: 28px;line-height: 28px}
.vote{float: right;font-size: 16px;width: 20%;white-space: nowrap;}

.main-con{margin-top: 38px;}
.article{background-color: #fff;box-shadow: 0 1px 1px rgba(0,0,0,.2);padding: 15px;font-family:\5FAE\8F6F\96C5\9ED1;position: relative;}
.article-tt{border-bottom: 1px solid #E6E6E6}
.article-tt h3{font-size: 30px;color: #000}
.article-tt p{font-size: 14px;color: #666;margin: 20px 0}
.article-con {}
.article-intro{margin: 50px 0}
.article-intro blockquote{background-color: #f8f8f8;font-size: 14px;line-height: 26px;color: #666}
.article-detail{font-size: 16px;line-height: 26px;color: #000}

.see_souce_link{margin-top:20px;background: #eee;padding:5px 10px;font-size:12px}
.see_souce_link a{display:block;text-align: center}

.comment-btn{background-color: #000000;width:50px;color: #9a9a9a;position: absolute;top: 26px;left: -50px;text-align: center;line-height:16px;padding: 6px 0}
.comment-btn .comment-num{display: block;font-weight: bold;color: #}

/*.comment{background-color: #fff;box-shadow: 0 1px 1px rgba(0,0,0,.2);padding: 15px;margin-top: 18px;margin-bottom: 40px}*/

.article-side-tt{font-size: 16px;margin: 0;padding-bottom: 10px;border-bottom: 1px solid #C9CACC;margin-bottom: 16px;color: #3f3f3f}
.new-article{margin-bottom: 40px}
.detail-side li{font-size: 14px;line-height: 28px}
.detail-side li a{color: #333;}
.detail-side li a:hover{color: #ff541a;}
.detail-side li a:before{content: '';display: inline-block;width: 5px;height: 5px;background-color: #CED0D2;border-radius: 50%;vertical-align: middle;margin-right: 6px}

/*登录*/
.login-box{background-color: #fff;box-shadow: 0 1px 1px rgba(0,0,0,.2);padding: 15px;font-family:\5FAE\8F6F\96C5\9ED1;position: relative;margin-bottom:50px;}
.login-box-tt{border-bottom:1px solid #E6E6E6;padding:0 15px 15px 15px;position:relative;zoom:1; }
.login-box h3{font-size:18px;padding:0;margin:0;line-height: 1.2;line-height:32px;}
.login-box .lbt_tips{font-size:12px;color:#7a7a7a;padding-left:12px}
.login-box a.lbt_tips{text-decoration:underline; }
.login-box a.lbt_tips:hover{color:#FF541A;text-decoration:none;  }

a.lbt_right{font-size:12px;color:#7a7a7a;padding-left:12px;color:#3D7CE6;line-height: 32px; }
a.qq_login_btn{width:108px;height:32px;background:url('../img/qq_login_btn.png') no-repeat;line-height: 300;overflow:hidden; }
.lbt_right{position:absolute;right:15px;top:0;}


.panel-default{margin:50px 0;}
.panel-body{padding:30px 15px 50px 15px;}

/*表单相关*/
.btn-primary{background:#3D7CE6;border:0 none;padding: 10px 25px;}
.btn-primary:hover{background:#125AD6;}

.form-control{border:2px solid #BDC3C7;padding:20px 12px;margin-bottom:10px}
.control-label{font-weight:normal;padding-top:20px}

blockquote {
  font-size:inherit;
}
.article-detail ul, .article-detail ul li {
  list-style:disc;
  margin-left:1em;
  margin-bottom:1em;
}

/* 中等屏幕（桌面显示器，小于等于 991px） */
@media(max-width:991px){
    .header_search_box{float:none;margin:20px auto ; }
    .header_nav li{width:25%}
    .list-col .col-md-4{text-align:center;}
    .topic-pic{display: none;}
    .side{margin: 0 15px;padding: 10px 15px}
    .header_search_box{width: 80%}
}

@media (min-width:768px) and (max-width:991px){

}

@media(max-width:640px){
   .header_wp .container{position: relative;height: 60px;position: relative;}
   .header_wp .col-md-2{width: 20%;float: left;margin-top: 20px;padding: 0;margin-left: 2%}
   .header_wp .logo{width: 100%;margin: 0;background-size:100%;line-height: 1;text-indent: -999em;height: 32px;}
   .header_wp .header_search_box{margin: 14px 0}
   .header_wp .header_nav{position: absolute;}
   .menu-more{display: block;width: 10%;height: 100%;float:right;position: absolute;right: 0;top: 0}
   .menu-more:before,.menu-more:after{width: 26px;height: 4px;background-color: #fff;content: '';display: block;position: absolute;top: 20px;right: 12%}
   .menu-more:after{top: 28px;box-shadow: 0 8px 0 rgba(255,255,255,1)}
   .header_wp .search{width: 70%;float: left;}
   .header_wp .nav-area{width: 50%;background-color: #0F0F0F;position: absolute;top: 60px;right: 0;height: auto;z-index: 100;padding:0 0 10px 0;display: none;}
   .header_wp .nav-area ul{position: static;}
   .header_wp .nav-area li{height: 30px;line-height: 30px;float: none;width: 100%;font-size: 14px}
   .header_search_box{width: 100%}
}
@media (min-width:992px) and (max-width:1200px){

}